@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 10px;
}
/* Hide the number input spinners in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input spinners in Firefox */
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}